.d1{
	position:relative;
	background-color:yellow;
	border:2px solid green;
	width:400px;
	height:500px;
	}
	.d2{
	position:absolute;
	top:80px;
	right:15px;
	background-color:blue;
	border:2px solid green;
	width:150px;
	height:200px;
	
	}
