.container{
	position: relative;
	
}

.topleft	{
		position: absolute;
		top: 8px;
		left: 10px;
		font-size:50px;
		color:red;
		
	}
.topright	{
		position: absolute;
		top: 8px;
		right: 10px;
		font-size:50px;
		color:red;
	}
.bottomleft	{
		position: absolute;
		bottom: 8px;
		left: 10px;
		font-size:50px;
		color:red;
	}
.bottomright	{
		position: absolute;
		bottom: 8px;
		right: 10px;
		font-size:50px;
		color:red;
	}
.center	{
		position: absolute;
		top:50%;
		right:50%;
         
		font-size:50px;
		color:red;
	}
img {
    width: 100%;
    height:500px;
    opacity: 0.3;
}