ul {

	margin:0px;
	padding:0px;
	border:none;
	width:100%;
   	}
	

li {
	float:left;
	}
	
		
a    {
		background-color:white;
		display:block;
		padding:8px 16px;
		text-decoration:none;
		}

li a:hover{
			background-color:black;
			color:red;
			
			}		

li a:active{
			background-color:yellow;
			color:green;
			
			}	
			ul{	  
	  list-style-type:none;
	  }

